# Ignore semua file
*

# Izinkan file utama
!index.php
!login.php
!logout.php

# Izinkan folder config
!config/
!config/**

# Izinkan folder pengembalian
!pages/
!pages/pengembalian/
!pages/pengembalian/**

# Izinkan folder layout
!layout/
!layout/**

# Izinkan folder anggota
!pages/anggota/
!pages/anggota/**

# Izinkan gitignore itu sendiri
!.gitignore
